<header>
    <nav>
      <div class="logo__wrapper">
        <div class="logo">Image Finder</div>
      </div>
      <div *ngIf="!authService.loginState">
        <mat-icon routerLink='login'>exit_to_app</mat-icon>
        <mat-icon routerLink='register'>person_add</mat-icon>
      </div>
      <div *ngIf="authService.loginState">
        <mat-icon
        routerLink='user'>account_circle</mat-icon>
        <mat-icon  (click)="authService.logout()">cancel</mat-icon>
      </div>
    </nav>
</header>


