@import '~@angular/material/theming';
@include mat-core();
$elinext-test-primary: mat-palette($mat-indigo);
$elinext-test-accent: mat-palette($mat-pink, A200, A100, A400);
$elinext-test-warn: mat-palette($mat-red);
$elinext-test-theme: mat-light-theme((
  color: (
    primary: $elinext-test-primary,
    accent: $elinext-test-accent,
    warn: $elinext-test-warn,
  )
));
@include angular-material-theme($elinext-test-theme);
.material-icons{
  font-size: 22px;
}
body{
  margin: 0 auto;
  padding: 0;
}
.container{
  width: 1024px;
  margin: 0 auto;
  height: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.success-dialog-red{
  background: #d84444;
  color: #fff;
}

::-webkit-scrollbar{
  visibility: hidden;
}

