<div class="main__search">
  <mat-form-field class="search_input">
    <mat-label>Find images</mat-label>
    <input matInput type="text" id="search" (keyup)="onSearch($event)" >
    <div *ngIf="searchKeywords.length > 0" matSuffix mat-icon-button aria-label="Clear">
      <mat-icon>close</mat-icon>
    </div>
  </mat-form-field>
  <p class="empty-photo-message"  *ngIf="images.length === 0" >Enter your request text</p>
  <div class="paginate-controls-wrapper">
    <pagination-controls (pageChange)="page = $event"
    autoHide="true"
    maxSize="5"></pagination-controls>
  </div>
  <div class="main__posts__container">
    <div class="post__wrapper" *ngFor="let card of images | paginate:{
      itemsPerPage: 8,
      currentPage: page,
      totalItems: totalLength
      }">
      <mat-card class="photo-card">
        <mat-card-header>
          <mat-card-title>{{card.title | truncate: 30}}</mat-card-title>
        </mat-card-header>
        <div class="card-image" [ngStyle]="{'background-image': 'url(\'' + card.url +  '\')'}"><a href="{{card.url}}" target="_blank" rel="noopener noreferrer"></a></div>
        <mat-card-actions>
          <button mat-raised-button class="card-action-button" color="primary" (click)="createBookmarkObj(card.url, card.title)">Add To Bookmarks</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="popup"[ngClass]="{active__modal : modalState}">
    <div class="popup__body" [ngClass]="{active__modal : modalState}">
      <div class="popup__content" [ngClass]="{active__modal : modalState}">
        <div class="popup__close" (click)="authService.abortIdleLogout($event)">Х</div>
        <div class="popup__title">You have been inactive for a while</div>
        <div class="popup__text">You will be sign out in <span>{{authService.remainigToLogoutCount}}</span> seconds</div>
        <div class="popup__text">To cancel, close the window or click the "Continue Session" button.</div>
        <button mat-raised-button
         id="button"
         color="primary"
         (click)="authService.abortIdleLogout($event)">Continue Session</button>
      </div>
    </div>
  </div>

</div>
