<div class="bookmarks__main__wrapper">
  <div class="paginate-controls-wrapper">
    <pagination-controls (pageChange)="page = $event"
    autoHide="true"
    maxSize="5"></pagination-controls>
  </div>
  <div class="bookmarks__main__container">
    <p class="empty-bookmarks-message" *ngIf="bookmarksList?.length === 0 " >You have no bookmarks at the moment.</p>
    <div class="bookmarks__main__container">
      <div class="post__wrapper" *ngFor="let card of bookmarksList | paginate:
      { itemsPerPage: 8,
        currentPage: page,
        totalItems: totalLength
        }">
        <mat-card #card class="bookmark-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{card.title | truncate: 30}}</mat-card-title>
            <!-- <mat-card-subtitle>Posted by: {{card.name}}</mat-card-subtitle> -->
          </mat-card-header>
          <div class="card-image" [ngStyle]="{'background-image': 'url(\'' + card.url +  '\')'}"></div>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="baseService.deleteBookmark(card.id)">Remove from bookmarks</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>

