.paginate-controls-wrapper{
  display: flex;
  justify-content: flex-end;
  padding-right: 55px;
}
.bookmarks__main__wrapper{
  height: 100%;
  overflow: auto;
}
.bookmarks__main__container{
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  justify-content: center;
}
.empty-bookmarks-message{
  font-size: 20px;
  margin-top: 15px;
}
.card-image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.bookmark-card {
  max-width: 363px;
  min-width: 363px;
  height: 410px;
  margin: 20px;
  background-color: rgba(148, 143, 205, 0.557) ;
}
.card-image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 5px;
  a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
mat-card-header{
  margin-bottom: 10px;
}
mat-card-actions{
  position: absolute;
  bottom: 15px;
  z-index: 9999999;
}
@media screen and (max-width: 1435px){
  .bookmark-card {
    min-width: 290px;
    max-width: 290px;
  }
}
@media screen and (max-width: 1240px){
  .bookmark-card {
    min-width: 280px;
    max-width: 280px;
  }
  .card-image{
    max-width: 336px;
    min-width: 280px;
  }
  .mat-card-header .mat-card-title{
    font-size: 12px;
  }
}
// @media screen and (max-width: 1180px){
//   .photo-card {
//     min-width: 260px;
//     max-width: 260px;
//     height: 320px;
//   }
//   .card-image{
//     max-width: 260px;
//     min-width: 260px;
//     height: 235px;
//   }
//   .mat-card-header .mat-card-title{
//     font-size: 12px;
//   }
// }
@media screen and (max-width: 1180px) and (min-width: 1010px){
  .bookmark-card {
    min-width: 325px;
    max-width: 325px;
  }
  .card-image{
    min-width: 325px;
    max-width: 325px;
    height: 235px;
  }
}
@media screen and (max-width: 1010px) and (min-width: 800px){
  .bookmark-card {
    min-width: 255px;
    max-width: 255px;
  }
  .card-image{
    min-width: 255px;
    max-width: 255px;
  }
}
@media screen and (max-width: 800px) and (min-width: 690px){
  .bookmark-card {
    min-width: 215px;
    max-width: 215px;
  }
  .card-image{
    min-width: 215px;
    max-width: 215px;
  }
}
@media screen and (max-width: 690px) and (min-width: 500px){
  .bookmarks__main__container{
    padding-left: 0px;
  }
  .bookmark-card {
    min-width: 320px;
    max-width: 320px;
    height: 360px;
  }
  .card-image{
    min-width: 320px;
    max-width: 320px;
    height: 275px;
  }
}
